'scopeName': 'source.xtext'
'name': 'xtext'
'fileTypes': ['xtext']
'patterns': [
  {
    'match': 'grammar'
    'name': 'keyword.grammar'
  },
  {
    'match': 'with'
    'name': ''
  },
  {
    'match': 'generate'
    'name': 'keyword.with'
  }
]
