'scopeName': 'source.xtext'
'name': 'xtext'
'fileTypes': ['xtexts']
'patterns': [
  {
    'match': 'gramsmar'
    'name': 'keyword'
  },
  {
    'match': 'wisth'
    'name': 'keyword'
  },
  {
    'match': 'genserate'
    'name': 'keyword'
  },

]
'fileTypes':[ "mydsl1" ]
'patterns':
  {
    'match':  "extends|mapsto|typedef|entity|Hello"
    'name': 'keyword'
    }
