'scopeName': 'source.xtext'
'name': 'xtext'
'fileTypes': ['xtext']
'patterns': [
  {
    # this line means "look for the xtextkeywords in the repository object below"
    'include': '#xtextkeywords'
  }
  {
    'include': 'source.js'
  }
]
'repository':
  'xtextkeywords':
    'patterns': [
      {
        # tell it where to look for the pattern
        'include': '#hardcoded-keywords'
      }
      {
        # or you can input it directly
        'name': 'keyword.control'
        'match': 'generate'
      }
    ]
  # kaboom it's here!
  'hardcoded-keywords':
    'name': 'keyword.control'
    'match': 'grammar|secrets'
